.main {
    width: fit-content;
}

.likes_wrap {
    display: flex;
    justify-content: flex-end;
}

.likes {
    margin: 10px;
}

.svg-inline--fa {
    width: 30px;
}

.fa-thumbs-up {
    color: #0000ff;
}

.fa-trash-alt {
    color: #ff0000;
}
